.Home {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

li{
  list-style:none;
  margin: 5px 0px;
}

ul{
  padding: 0px;
  margin: 0px;
}

button{
  color: white;
  width: 100%;
  background-color: teal;
  text-shadow: black;
  border:none;
}

button:hover{
  transition: 0.25s;
  background-color: #29b7df;
  cursor: pointer;
}

.help{
  border: solid 2px white;
  display: flex;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin:10px;
  justify-content: center;
}

.help:hover{
  transition: 0.25s;
  background-color: white;
  color: black;
  cursor: pointer;
}

.helpSection{
  display: flex;
  justify-content: center;
}