body{
    font-weight: bolder;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}
.container{
    flex-direction: column;
}
.welcomeHeader{
    display:flex;
    justify-content: center;
}
h1{
    padding-top: 20px;
    font-size: 5em;
    font-weight: 100;
    margin-bottom: 0px;
}
h2{
    margin-top: 0px;
    font-size: 3.5em;
    font-weight: 100;
}
.welcome{
    text-align: center;
    width: fit-content;
}

li{
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
}

.menuText:hover{
    transition: 0.25s;
    color: aquamarine;
}
.menuText{
    text-decoration: none;
    color: black;
}
ul{
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.mySlides {
    width: 1000px;
    object-fit: cover;

    overflow: none;
    height: 400px;
    display:none
}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.content{
    
}
